{:source-paths ["test/shadow-cljs/src/main"]
 
 :dependencies [[reagent "2.0.1"]]
 
 :dev-http {8080 "public"}
 
 :nrepl {:port 9000}

 :app {:target :browser
       :output-dir "test/public/js/compiled"
       :asset-path "test/js/compiled"
       :modules {:main {:init-fn app.core/init}}}
 }
