{:deps true
 :builds {:app {:target :browser
                :modules {:main {:init-fn app.core/init}}
                :output-dir "test/shadow-cljs/public/js"
                :asset-path "/js"
                :devtools {:http-root "test/shadow-cljs/public"
                           :http-port 8280}}}}
