{:deps {:aliases [:dev]}
 :nrepl {:port 4955
         :middleware [cider.nrepl/cider-middleware
                      refactor-nrepl.middleware/wrap-refactor]}
 :builds {:app {:target :browser
                :modules {:main {:init-fn app.core/init}}
                :output-dir "public/js"
                :asset-path "/js"
                :devtools {:http-root "public"
                           :http-port 8280}}}}
